Expt10 IDSF : Write a Python to get a list of the column headers from a Pandas DataFrame, delete DataFrame columns by name or index, add new column to existing DataFrame.

In [2]:
import pandas as pd

In [10]:
# DataFrame
data = {'Courses': ['ML', 'IDSP', 'EDAF'],
        'Fee': [2500, 3000, 2800],
        'Duration': [50, 25, 20]}
df = pd.DataFrame(data)

In [11]:
# Get a list of the column headers
column_headers = list(df.columns.values)
print("The Column Header :", column_headers)

The Column Header : ['Courses', 'Fee', 'Duration']

In [12]:
# Delete DataFrame columns by name
df = df.drop('Duration', axis=1)
print("\nDataFrame after deleting 'City' column:\n", df)

DataFrame after deleting 'City' column:
   Courses   Fee
0      ML  2500
1    IDSP  3000
2    EDAF  2800

In [13]:
# Delete DataFrame columns by index
df = df.drop(df.columns[[1]], axis=1)  # Delete the first column (index 0)
print("\nDataFrame after deleting first column:\n", df)

DataFrame after deleting first column:
   Courses
0      ML
1    IDSP
2    EDAF

In [14]:
# Add a new column to existing DataFrame
df['Mode'] = ['Online', 'Offline', 'Hybrid']
print("\nDataFrame after adding 'Country' column:\n", df)

DataFrame after adding 'Country' column:
   Courses     Mode
0      ML   Online
1    IDSP  Offline
2    EDAF   Hybrid